<!--
<div [style]="styles">
<app-header></app-header>
<router-outlet></router-outlet>
<app-avatar></app-avatar>
<app-footer></app-footer>
<app-btn></app-btn>
<app-user-card></app-user-card>
<app-product-card></app-product-card>
</div> 
<app-header></app-header>-->

<ng-container *ngIf="products.length > 0;else noProducts">
    <div class="title">
        <h1>Ultimos productos</h1>
    </div>
    <div class="prodcuts">
        <ng-container *ngFor="let product of products">
        <ng-container  *ngIf="product.unitAvailable > 0 ">
            <div 
            class="product">
                <div class="container">
                    <app-product-card [product]="product"></app-product-card>
                    
                </div>
            </div>
        </ng-container>
        </ng-container>
    </div>
</ng-container>


<ng-template #noProducts>
    <div class="title">
        <h1>No hay productos disponibles</h1>
    </div>
</ng-template>