<h1>DBZ Personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- onDelete-->
    <dbz-list [characterList]="characters"
    (onDelete)="onDeleteCharacter($event)"></dbz-list>



  </div>

  <div class="col">

    <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>



  </div>
</div>

<!-- En la primera columna, se muestra la lista de personajes a través del componente dbz-list. El evento onDelete se maneja con el método onDeleteCharacter($event)
  En la segunda columna, se permite agregar un nuevo personaje mediante el componente dbz-add-character
  El evento onNewCharacter se maneja con el método onNewCharacter($event)-->
